*{
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;

}

header{
    display: flex;
    height: 80px;
    border-bottom: 1px solid #aeb0ba;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    position: fixed;

}

.logo_container{
    margin-left: 2%;
    height: 80px;
    width: 53px;
    display: flex;
    align-items: center;
    background-color: #ffffff;

}
.logo_container a img{
    height: 55px;
    background-color: #ffffff;
}

.Nav_bar{
    min-width: 100px;
    height: 80px;
    /* width: 515px; */
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 3.5%;
    flex-wrap: nowrap;

}

.Nav_bar a{
    font-size: 13px;
    letter-spacing: .3px;
    color: #282c3f;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px 17px 28px 17px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-weight: 700;
    border-bottom: 2px solid #ffffff;
    flex-shrink: 1;
    text-align: center; 
    background-color: #ffffff;

}

.Nav_bar a:hover{
    border-bottom: 2px solid #e75656;
}
.Nav_bar a sup{
    color: #ff3f6c;
    font-size: 10px;
    background-color: #ffffff;
}


.search_bar{
    /* min-width: 100px; */
    width: 32%;
    display: flex;
    height: 40px;
    align-items: center;
    margin: 20px 20px 20px 40px;
    border-radius: 7px;

}

.search_input{
    flex-grow: 1;
    background-color: #f5f5f6;
    height: 100%;
    border: 0;

}
.search_input:focus{
    outline: none;
}
.search_icon{
    box-sizing: content-box;
    background-color: #f5f5f6;


    padding: 10px;
    color: #282c3f;
    border-radius: 5px 0 0 5px;

}
.action_bar{
    margin-right: 2%;
    display: flex;
    justify-content: space-evenly;
    width: 195px;
    font-size: 12px;
    font-weight: 700;
    background-color: #ffffff;
}
.action_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

.bottom_nav_bar{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-top: 1px solid #aeb0ba;

}


.bottom_nav_bar .action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

@media (max-width: 1417px) {
    .Nav_bar a {
        padding: 30px 5px 28px 5px;
        font-size: 13px;
    }
    .Nav_bar{
        margin: 0;
    }
    .logo_container{
        margin-left: 0;
    }
    .search_bar{
        margin: 20px;
    }
}

@media (max-width: 900px) {

    .logo_container{
        display: none;
    }
    .action_bar{
        margin-right: 0.5%;
        width: 150px;
    }
}


@media (max-width: 750px) {
    .action_bar {
        display: none;
    }

    .bottom_nav_bar {
        display: flex; 

        justify-content: space-around;
        height: 60px;
        align-items: center;
        z-index: 1000;
    }

    .Nav_bar {
        width: 100%;
        justify-content: space-between;
    }

    .search_bar {
        width: 14%;
        margin: 20px 10px 20px 0px;


    }
    .search_icon{
        visibility: collapse;
        display: none;
    }
    .search_input{
        border-radius: 5px;
    }

}




main{
    margin-top: 80px;
}
.top{
    height: auto;
    display: flex;
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
}
.top img{
    width: 100%;
    height: auto;
}



.banner{
    display: flex;
    height: auto;
    width: 100%;
}
.banner img{

   width: 100%;
    height: auto;
}



.sponsor{
    display: flex;
    height: auto;
    width: 100%;
}
.sponsor img{
    width: 100%;
    height: auto;
}
.sponsor1{
    margin-left: 50px;
}
.sponsor2{
    margin-right: 50px;
}


.offer{
    display: flex;
    height: auto;
    width: 100%;
}

.coupons_courner{
    display: flex;
    width: 100%;
    height: auto;
}
.coupons_courner img{
    width: 100%;
    height: auto;
}

.coupons{
    display: flex;
    height: auto;
    width: 100%;
}

.crazy_deals{
    display: flex;
    width: 100%;
    height: auto;
}

.deals_category{
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: auto;
}

.cart_categories_banner{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.cart_categories_items1{
    display: flex;
    width: 100%;
    height: auto;
}
.cart_categories_items2{
    display: flex;
    width: 100%;
    height: auto;
}
.cart_categories_items3{
    display: flex;
    width: 100%;
    height: auto;
}
.cart_categories_items4{
    display: flex;
    width: 100%;
    height: auto;

}


.knockout_offers{
    display: flex;
    width: 100%;
    height: auto;
}



.extra_details{
    background-color: #fafbfc;
    height: auto;
    /* margin: 45px; */
    width: 100%;
}
.inner_extra_details{
    margin-left: 15%;
    margin-right: 15%;

    display: flex;
    justify-content: space-evenly;
}
#footer_headings{
    display: inline-block;
    font-weight: 700;
    margin-top: 30px;
    font-size: 12px;
    margin-bottom: 20px;
    color: #282c3f;
    text-decoration: none;
}

#headings_details{
    text-decoration: none;
    text-transform: capitalize;
    color: #696b79;
    display: block;
    font-size: 15px;

    line-height: 1.8;
}

#images_details{

    display: flex;
    font-size: 15px;
    padding-bottom: 5px;
    height: auto;


}

#images_details img{
    width: 130px;
}

.inner_extra_details1{
    width: 15%;
}
.inner_extra_details2{
    width: 20%;
}
.inner_extra_details3{
    width: 30%;

}
.inner_extra_details4{
    width: 25%;
}

#footer_headings1 {
    display: flex;
    font-weight: 700;
    margin-top: 30px;
    font-size: 12px;
    margin-bottom: 20px;
    color: #282c3f;
    text-decoration: none;
    width: 100%;
}

.images_details1 {
    display: flex;
    padding-bottom: 5px;
    height: auto;
    justify-content: flex-start; 
    gap: 10px;
    width: 100%; 
}
.images_details1 img{
    width: 20px;
    height: auto;
}

.original_text b{
    color: #282c3f;
}
.original{
    display: flex;
    margin-top: 30px;
    color: #696b79;
    height: auto;
    align-items: center;

}
.original_image{
    width: 120px;

}
.original_image img{
    width: 50px;
    height: auto;

}
.original_text{

    font-size: 15px;
}


.return_text b{
    color: #282c3f;
}
.return{
    display: flex;
    margin-top: 30px;
    color: #696b79;
    height: auto;
    align-items: center;

}
.return_image{
    width: 120px;

}
.return_image img{
    width: 50px;
    height: auto;

}
.return_text{

    font-size: 15px;
}


.inner_extra_details5{
    margin-left: 16%;
    margin-right: 16%;

    display: flex;

    flex-direction: column;
}


.inner_extra_details6{
    margin-left: 16%;
    margin-right: 16%;

    display: flex;

    justify-content: space-between;

    border-bottom: solid 1px #aeb0ba;
}
.inner_extra_details6 p{
    margin-top: 40px;

}

.inner_extra_details6 p a{
    font-weight: 700;
    text-decoration: none;
    color: #6279d4;
}


.inner_extra_details7{
    margin-left: 16%;
    margin-right: 16%;

    display: flex;

    justify-content: space-between;
    flex-direction: column;

    
}

#footer_headings7{
    font-weight: 700;
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 20px;
    color: #282c3f;
    width: 100%;

}

.office{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;


}

.inner_extra_details8{

    margin-right: 16%;
    margin-top: 140px;

}
.inner_extra_details8 a{

    font-weight: 700;
    text-decoration: none;
    color: #6279d4;
}

@media (max-width: 1230px){
    .inner_extra_details{
        margin-left: 5%;
        margin-right: 5%;
    }
    .inner_extra_details5{
        margin-left: 7%;
        margin-right: 7%;
    }
    .original_image{
        width: 180px;
    
    }
    .original_image img{
        width: 100%;
        
    }
    #headings_details{
        font-size: 10px;

    }
    .original_text{
        font-size: 10px;
    }
    #footer_headings{
        font-size: 10px;
    }

    

    .return_image{
        width: 180px;
    
    }
    .return_image img{
        width: 100%;
        
    }
    .return_text{
        font-size: 10px;
    }
}